{% extends "vatlieu/base.html" %}
{% block content %}
<h3>Provider Information</h3>
<table border = "1" style="width:30%" content="Chi Tiết Hóa Đơn ">
    <tr>
        <th>Provider</th>
        <td>{{input_bill.provider}}</td>
    </tr>
    <tr>
        <th>Staff</th>
        <td>{{input_bill.staff.username}}</td>
    </tr>
    <tr>
        <th>Input Date</th>
        <td>{{input_bill.input_date}}</td>
    </tr>
    <tr>
        <th>Status</th>
        <td>{{status}}</td>
    </tr>
</table>
<!--   Check if staff == user then show Update and Delete -->
        {% if input_bill.staff == user %}
          <div>
            <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{% url 'input-bill-update' input_bill.id %}">Update</a>
            <a class="btn btn-danger btn-sm mt-1 mb-1" href="{% url 'input-bill-delete' input_bill.id %}">Delete</a>
          </div>
        {% endif %}
<br><h4>Detail Input Bill Information</h4>
<table border = "1" style="width:100%" content="Chi Tiết Hóa Đơn ">
        <tr>
            <th><center>ID Input Bill</center></th>
            <th><center>Product</center></th>
            <th><center>Count</center></th>
            <th><center>Prime Cost (VND)</center></th>
        </tr>

       {% for detail in input_bills_detail %}

        <tr><td><center>{{detail.input_bill.id}}</center></td>
            <td><center>{{detail.product.name}}</center></td>
            <td><center>{{detail.count}}</center></td>
            <td><center>{{detail.price}} VND</center></td>
            <td><center>
                <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{% url 'update-detail-input-bill' detail.id %}">Update</a>
                <a class="btn btn-danger btn-sm mt-1 mb-1" href="{% url 'delete-detail-input-bill' detail.id %}">Delete</a>
                </center>
            </td>
        </tr>
    {% endfor %}
        <tr>
            <td style="visibility:hidden;"></td>
            <td style="visibility:hidden;"></td>
<!--            show sum of money -->
            <th><center>Total : </center></th>
            <th><center>{{sum}} VND</center></th>
        </tr>
</table>
{% endblock content %}