{% load static %}
{% load has_group %}
<!Doctype html>
<html lang="en">
<head>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css">
    <link rel="stylesheet" href="{% static 'vatlieu/main.css' %}">
    <title>Quản Lý Vật Liệu Xây Dựng</title>

</head>
<body>
<nav class="navbar navbar-light py-0" style="background-color: #e3f2fd;">
    <a class="navbar-brand"><i class="fas fa-mobile-alt"></i> Hotline : 0905816940 </a>
    <a class="navbar-brand"> <i class="fas fa-map-marked-alt"></i> 516 Cách Mạng Tháng 8, Hòa Thọ Đông, Cẩm Lệ, Đà Nẵng,
        Việt Nam </a>

</nav>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand font-weight-bold" href="{% url 'vatlieu-home' %}"><i class="fas fa-store-alt"></i>Building
        Materials</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">

        </ul>
        <form id="searchform" action="{% url 'search' %}" method="get">
            <input type="text" name="q" type="text" value="{{ request.GET.q }}" placeholder="Search Product Here ..." required="required" />
            <!--                        name of search is "q" so use it in views.py to get value from that -->
            <button type="button" onclick="searchform.submit()" class="text-white my-color btn-primary">
                <i class="fa fa-search"></i>
                Search
            </button>
        </form>
        <ul class="navbar-nav mr-auto">

        </ul>
        <!--    Class dropdown List          -->
        <div class="dropdown">
            <button class="btn btn-warning dropdown-toggle" type="button" id="dropdownMenuButton_list"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-list-ol" style='font-size:20px;color:white'></i>
                List
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" href="{% url 'list-provider' %} "> List Provider</a>
                <a class="dropdown-item" href="{% url 'list-product' %} "> List Product</a>
                {% if user.is_authenticated and request.user|has_group:"admin" %}

                <a class="dropdown-item" href="{% url 'list-customer' %} "> List Customer</a>
                <a class="dropdown-item" href="{% url 'list-input-bill' %} "> List Input Bill</a>
                <a class="dropdown-item" href="{% url 'list-output-bill' %} "> List Output Bill</a>

                {% endif %}
            </div>
        </div>
        {% comment %} Phân quyền dành cho admin {% endcomment %}
        {% if user.is_authenticated %}
        {% if request.user|has_group:"admin" %}
        <!--   Button Warehouse              -->
        <button class="btn btn-danger" onclick="location.href='{% url 'warehouse' %}'" type="button">
            <i class="fas fa-warehouse" style='font-size:20px;color:white'></i>
            Warehouse
        </button>
        <!--    Class dropdown        -->
        <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton_New"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-plus" style='font-size:20px;color:white'></i>
                New
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" href="{% url 'input-bill-create' %} "> New Input Bill</a>
                <a class="dropdown-item" href="{% url 'output-bill-create' %} "> New Output Bill</a>
                <a class="dropdown-item" href="{% url 'provider-create' %} "> New Provider</a>
                <a class="dropdown-item" href="{% url 'customer-create' %} "> New Customer</a>
                <a class="dropdown-item" href="{% url 'product-create' %} "> New Product</a>
            </div>
        </div>

        <!--    Class dropdown        -->

        <div class="dropdown">
            <button class="btn btn-info dropdown-toggle" type="button" id="dropdownMenuButton_Profile_admin"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-id-card" style='font-size:20px;color:white'></i>
                {{ user.username }}
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" href="{% url 'profile' %}">Profile</a>
                <a class="dropdown-item" href="{% url 'staff-input-bill' user %}">My Input Bill</a>
                <a class="dropdown-item" href="{% url 'staff-output-bill' user %}">My Output Bill</a>
                <a class="dropdown-item" href="{% url 'logout' %}">Log Out</a>
            </div>
        </div>
        <!--        end of second if -->
        {% else %}
        {% comment %} PHân quyền cho customer {% endcomment %}
        <button class="btn btn-danger" onclick="location.href='{% url 'customer-shopping' %}'" type="button">
            <i class="fas fa-shopping-cart" style='font-size:20px;color:white'></i>
            Shopping
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" href="{% url 'profile' %}">Profile</a>
            <a class="dropdown-item" href="{% url 'logout' %}">Log Out</a>
        </div>


        <div class="dropdown">
            <button class="btn btn-info dropdown-toggle" type="button" id="dropdownMenuButton_Profile"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-id-card" style='font-size:20px;color:white'></i>
                {{ user.username }}
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" href="{% url 'profile' %}">Profile</a>
                <a class="dropdown-item" href="{% url 'customer-buying' request.user %}">Buying</a>
                <a class="dropdown-item" href="{% url 'customer-received' request.user %}">Received</a>
                <a class="dropdown-item" href="{% url 'logout' %}">Log Out</a>
            </div>
        </div>
        {% endif %}
        <!--       end of first if                 -->
        {% else %}
        <a href="{% url 'login' %} " class="btn text-white m-2"><i class="fas fa-user-tie"></i> Log In</a>
        <a href="{% url 'register' %} " class="btn text-white m-2"> <i class="fas fa-sign-in-alt"></i> Sign Up</a>
        {% endif %}
    </div>
    <!--            End of dropdown button -->
</nav>
<div class="container my-bg">
    {% if messages %}
    {% for message in messages %}
    <div class="alert alert-{{ message.tags }}">
        {{ message }}
    </div>
    {% endfor %}
    {% endif %}
    {% block content %}

    {% endblock %}
</div>
<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
<script src="{% static 'vatlieu/main.js' %}"></script>
</body>
</html>
