{% extends "vatlieu/base.html" %}
{% block content %}
    <h1 class="mb-3">InputBill by {{ view.kwargs.username }} ({{ page_obj.paginator.count }})</h1>
    {% for output_bill in output_bills %}
        <article class="media content-section">
          <img class="rounded-circle article-img" src="{{ output_bill.staff.profile.image.url }}">
          <div class="media-body">
            <div class="article-metadata">
<!--                input_bills call from views and input_bill is a part of input_bills-->
              <a class="mr-2" href="{% url 'staff-output-bill' output_bill.staff.username %}">{{ output_bill.staff.username }}</a>
              <small class="text-muted">{{ output_bill.output_date|date:"F d, Y" }}</small>
            </div>
            <h2><a class="article-title" href="{% url 'output-bill-detail' output_bill.id %}">Mã hóa đơn : {{ output_bill.id }}</a></h2>
            <p class="article-content">Customer : {{ output_bill.customer }}</p>
          </div>
        </article>
    {% endfor %}
    {% if is_paginated %}

      {% if page_obj.has_previous %}
        <a class="btn btn-outline-info mb-4" href="?page=1">First</a>
        <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.previous_page_number }}">Previous</a>
      {% endif %}

      {% for num in page_obj.paginator.page_range %}
        {% if page_obj.number == num %}
          <a class="btn btn-info mb-4" href="?page={{ num }}">{{ num }}</a>
        {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
          <a class="btn btn-outline-info mb-4" href="?page={{ num }}">{{ num }}</a>
        {% endif %}
      {% endfor %}

      {% if page_obj.has_next %}
        <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.next_page_number }}">Next</a>
        <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.paginator.num_pages }}">Last</a>
      {% endif %}

    {% endif %}
{% endblock content %}
