{% extends "vatlieu/base.html" %}
{% block content %}
<table border = "1" style="width:100%" content="Danh Sách Nhà Cung Cấp ">
        <tr>
            <th><center>Tên Sản Phẩm</center></th>
            <th><center>Loại</center></th>
            <th><center>Số lượng</center></th>
            <th><center>Đơn vị tính</center></th>
            <th><center>Giá Nhập (VND) </center></th>
            <th><center>Giá Bán (VND) </center></th>
        </tr>
<!--    Code show the provider to list -->
    <h3>List product in Warehouse</h3>
    {% for ware in warehouse %}
<!--           remember : url make same in the urls.py -->
        <tr>
            <td><center> <a  href="{% url 'product-detail' ware.product.id  %}">{{ware.product.name}}</a></center></td>
<!--           href to input bill detail  -->
            <td><center>{{ware.product.type_product.name}}</center></td>
            <td><center>{{ware.count}} </center></td>
            <td><center>{{ware.product.calculationUnit}}</center></td>
            <td><center>{{ware.product.unit_cost}} </center></td>
            <td><center>{{ware.product.selling_price}} </center></td>

        </tr>

    {% endfor %}
</table>
    {% if is_paginated %}
<!-- Đoạn ni là bắt đàu phân trang -->
      {% if page_obj.has_previous %}
        <a class="btn btn-outline-info mb-4" href="?page=1">First</a>
        <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.previous_page_number }}">Previous</a>
      {% endif %}

      {% for num in page_obj.paginator.page_range %}
        {% if page_obj.number == num %}
          <a class="btn btn-info mb-4" href="?page={{ num }}">{{ num }}</a>
        {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
          <a class="btn btn-outline-info mb-4" href="?page={{ num }}">{{ num }}</a>
        {% endif %}
      {% endfor %}

      {% if page_obj.has_next %}
        <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.next_page_number }}">Next</a>
        <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.paginator.num_pages }}">Last</a>
      {% endif %}

    {% endif %}
{% endblock content %}
